<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @code.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @code.code %>
</p>

<p>
  <strong>Language:</strong>
  <%= @code.language %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @code.ipaddress %>
</p>
<%= render_shareable %>
<%= link_to 'Back', codes_path %>
